<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-expand-sm bg-success navbar-dark">
        <div class="container">
            <div class="navbar-collapse">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("VolutarAê", "Home", "Web", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="navbar-collapse">
                    <li class="nav-item">@Html.ActionLink("Sobre", "Sobre", "Web", new { @Class = "" })</li>
                    <li class="nav-item">@Html.ActionLink("Volutáriados", "Voluntariados", "Web", new { area = "" }, new { @class = "navbar-brand" })</li>
                    <li class="nav-item">@Html.ActionLink("Departamentos", "Departamento", "Web", new { area = "" }, new { @class = "navbar-brand" })</li>
                    <li class="nav-item">@Html.ActionLink("Ação volutária", "Voluntario", "Web", new { area = "" }, new { @class = "navbar-brand" })</li>
                    <li class="nav-item">@Html.ActionLink("Parceiros", "Parceiros", "Web", new { area = "" }, new { @class = "navbar-brand" })</li>
                    <li class="nav-item">@Html.ActionLink("Inscrição", "Index", "Api", new { area = "" }, new { @class = "navbar-brand" })</li>
                    <li class="nav-item">@Html.ActionLink("Contatos", "Contatos", "Web", new { area = "" }, new { @class = "navbar-brand" })</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - VoluntarAê</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
